@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4">
    <p class="alert alert-success">اکنون میتوانید یوزرنیم و پسوردتان وارد اکانت خود شوید.</p>
</div>

