@using EntityFrameworkCore.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Province
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class=bg-light card-header">
                استان ها
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                شهرهای استان @Model.ProvinceName
                            </th>
                            <th>
                                عملیات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var province in Model.Cities)
                        {
                            <tr>
                                <td>
                                    @province.CityName
                                </td>
                                <td>
                                    <a href="/Admin/Provinces/Details/@province.CityId" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                    <a href="/Admin/Provinces/Edit/@province.CityId" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                    <a href="/Admin/Provinces/Delete/@province.CityId" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>