@{
    ViewData["Title"] = "ProductsNeedRequirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px">
    <h2 class="text-danger">کتابهای نیازمنده دسترسی خاص</h2>
    <h5>این کتابها برای افراد +18 است.</h5>
</div>
