<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>سایت کتاب</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light bg-primary">
            <a class="navbar-brand text-white">فروشگاه کتاب</a>
            @await Html.PartialAsync("_LoginPartial")
            @*<partial name="_LoginPartial" />*@
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
